{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/start1">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Your registered drones</h1>

      <p>The following drones are registered under licence number 45968493. You will be able to renew your drone registration up to 2 months before expiry.

      <form class="form" action="/newdrone1" method="post">



        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Very very very very long Drone Name 1
            </dt>
            <dd class="govuk-summary-list__value">
              Expires 1st January 2020
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Renew
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Drone Name 2
            </dt>
            <dd class="govuk-summary-list__value">
              Expires 1st January 2020
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Renew
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Drone Name 3
            </dt>
            <dd class="govuk-summary-list__value">
              Expires 1st January 2020
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Renew<span class="govuk-visually-hidden"> contact information</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Drone Name 4
            </dt>
            <dd class="govuk-summary-list__value">
              Expires 1st January 2020
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Renew<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>

        <button class="govuk-button" data-module="govuk-button">Register a new drone</button>

      </form>

    </div>



  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Your details
      </h2>
      <p>
        <b>Licence number</b> <br>
        45968493 <br>
      </p>
      <p>
        <b>Name</b> <br>
        Josh Bason <br>
        <a href=#> [Change]</a>
      </p>



      <p>
        <b>Address</b> <br>
        36 Wellesley Road <br>
        Croydon<br>
        London<br>
        CR0 9YA<br>
        <a href=#> [Change]</a>


      </p>











        </div>

    </aside>

  </div>

  </div>

{% endblock %}
