{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Your registered drones</h1>

      <p>The following drones are registered under your licence (#45968493)

      <form class="form" action="/url/of/next/page" method="post">



        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Very very very very long Drone Name 1
            </dt>
            <dd class="govuk-summary-list__value">
              Expires 1st January 2020
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Renew
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Drone Name 2
            </dt>
            <dd class="govuk-summary-list__value">
              Expires 1st January 2020
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Renew
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Drone Name 3
            </dt>
            <dd class="govuk-summary-list__value">
              Expires 1st January 2020
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Renew<span class="govuk-visually-hidden"> contact information</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Drone Name 4
            </dt>
            <dd class="govuk-summary-list__value">
              Expires 1st January 2020
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Renew<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>


        <p>[See <a href="https://design-system.service.gov.uk">the GOV.UK Design System</a> for examples]</p>

        <button class="govuk-button" data-module="govuk-button">Register a new drone</button>

      </form>

    </div>



  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Your details
      </h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Josh Bason
          </dt>
          <dd class="govuk-summary-list__action">
            Change
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            43 Therapia Lane<br>
            London<br>
            SW82 F84<br>
          </dt>

        
          <dd class="govuk-summary-list__action">
            Change
          </dd>
          </div>
        </div>

    </aside>

  </div>

  </div>

{% endblock %}
