{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Your licence number</h1>

      <form class="form" action="/question2" method="post">

        <p>Please enter your full 8-digit drone licence number.</p>



        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Your licence number:
          </label>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>

        <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Where do I find my licence number?
    </span>
  </summary>
  <div class="govuk-details__text">
    Your licence number can be found on the rear side of your photocard license.
  </div>
</details>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
